<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_5dof_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import simple_5dof_robot urdf file -->
    <xacro:include filename="$(find mdl_description)/urdf/mdl.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="simple_5dof_robot.ros2_control.xacro" />


    <xacro:simple_5dof_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
